<header>
  <a href="/" class="logo">Events<span>.</span></a>
  <nav>
    <ul>
      <li><a href="/" class="menu-btn">home</a></li>
      <li><a href="/events" class="menu-btn">allEvents</a></li>
      <li><a href="/events/new" class="menu-btn btn">new event</a></li>
    </ul>
  </nav>
</header>
